.QueryPanel {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.ResponsePanel {
}

.DetailPanel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  border-left: 1px solid #333;
  background: whitesmoke;
  overflow: scroll;
  padding: 20px;
}

.PartResult {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.SquareImg {
  border: 1px solid #eee;
  background-color: white;
  float: left;
  margin-right: 10px;
}
